* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #53698f;

}

nav {
    width: 100%;
    height: 75px;
    background-color: #53698f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    font-size: 32px;
    font-weight: bold;
    color: rgb(35, 200, 237);
    font: Verdana;
}

.navbar-nav {
    width: 65%;
    display: flex;
    justify-content: right;
    List-style: none;
}

.navbar-nav li {
    margin-Left: 20px;
    color: burlywood;
    align-items: center;
}

.navbar-nav li a {

    font-size: 19px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar-nav li a:hover {
    color: #ccc;
    text-align: left;
}

.navbar-nav button {
    background-color: rgb(184, 141, 201);
    margin-Left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    align-items: end;
}

.search form{
    display: flex;
    margin: 0;
}
.search input{ 
    padding:10px;
    border: 1px solid #ddd;
    outline :none; 
    border-radius: 5px; 
    margin-right: 10px; 
    font-size: 16px;
}
.search button {
    margin-Left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
}

.jumbotron {
    height: 700px; display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
    color: #fff;
}

.jumbotron .jumbotron.inner{ 
    width: 70%;
}
.jumbotron .jumbotron.inner h2 {
    font-size: 23px; 
    font-weight: 700;}
.jumbotron .jumbotron-inner p{ 
    font-size: 17px; 
    font-weight: 500;}
.jumbotron .jumbotron-inner .jumbotron-btn {
    display: flex;
    justify-content: center}
.jumbotron .jumbotron-inner .jumbotron-btn .btn-one { 
    padding: 8px 14px; 
    border-radius: 5px; 
    background:#fff;
    color: #353535; 
    margin-right:10px 
}

.div1 {
    font-size: 32px;
    text-align: center;
    align-items: center;
    padding: 0px 50px;
    color: white;
}

.div1 p{
    font-size: 15px;
    text-align: left;
}
footer{
    padding: 64px;
    text-align: center;
    align-items: center;
    color: seagreen;
}